@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0f0f14;
  color: #ffffff;
}

.input {
  width: 100%;
  border-radius: 0.75rem;
  background: var(--input);
  border: 1px solid var(--border);
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  color: var(--text-main);
}

.input::placeholder {
  color: var(--text-muted);
}

.input:focus {
  outline: none;
  border-color: var(--primary);
}
